@import "../../Styles/App.scss";

header {
  position: relative;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 2rem;
  background-color: black;

  .btn.home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;

    .icon {
      --size: 30px;
      width: var(--size);
      height: var(--size);
      svg {
        fill: var(--blue-tint-light);
        width: 100%;
        height: 100%;
        animation: hue-rotation 5000ms linear alternate-reverse infinite;
        animation-play-state: paused;
      }
    }
    span {
      color: var(--gray-dark);
      font-size: 1.2rem;
      font-weight: bold;
      text-transform: uppercase;
      margin-left: 0.5rem;
    }
    &:hover {
      .icon {
        svg {
          animation-play-state: running;
        }
      }
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;

    input[type="text"] {
      width: 100%;
      height: 100%;
      padding: 10px 15px;
      padding-right: 35%;
      border-top-left-radius: var(--border-radius);
      border-bottom-left-radius: var(--border-radius);
      &::placeholder {
        color: rgba(0, 0, 0, 0.45);
      }
    }

    button.search {
      background: var(--blue-tint-light);
      color: var(--white);
      transition: background var(--transition-duration-100) ease,
        filter var(--transition-duration-100) ease;
      &:not(:disabled) {
        filter: grayscale(0);
        &:hover,
        &:focus {
          background: var(--blue-tint-dark);
        }
      }
      &:disabled {
        filter: grayscale(0.98);
      }
    }

    .form-group {
      --border-radius: 0.5em;
      position: relative;
      width: 300px;
      border-radius: var(--border-radius);
      overflow: hidden;

      .icon {
        --size: 12px;
        width: var(--size);
        height: var(--size);
        transition: margin var(--transition-duration-100) ease;
        svg {
          fill: var(--white);
          width: 100%;
          height: 100%;
        }
      }

      &.g-1 {
        input[type="text"] {
          &:focus {
            ~ button {
              &:not(:disabled) {
                transform: translateX(-55%);
                .icon {
                  margin-right: 4px;
                }
              }
            }
          }
          @include respond(max550) {
            display: none;
          }
        }

        .btn.search {
          position: absolute;
          top: 0;
          right: -20%;
          transform: translateX(-50%);
          width: 32%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-top-right-radius: var(--border-radius);
          border-bottom-right-radius: var(--border-radius);
          transition: transform var(--transition-duration-100) ease;
          padding-right: 15px;
          padding-left: 0;
          span {
            margin-left: 5px;
          }
        }
      }

      &.g-2 {
        width: auto;
        button.search {
          width: 30px;
          height: 30px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: none;

          .icon {
            --size: 20px;
            svg {
              fill: var(--gray-light);
            }
          }
        }
        @include respond(min550) {
          display: none;
        }
      }
    }
  }

  .floating--container {
    position: absolute;
    left: 0%;
    top: 0%;
    width: 100%;
    height: 130%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--gray-dark);
    transition: transform var(--transition-duration-300) ease;
    @include respond(min550) {
      display: none;
    }

    .input--container {
      width: 80%;
      height: 40%;
      display: grid;
      grid-template-columns: 0.75fr 0.25fr;
      border-radius: 0.4rem;
      overflow: hidden;
      margin-top: 0.8rem;

      input[type="text"] {
        padding-right: 1rem;
        &:focus {
          ~ button {
            &:not(:disabled):hover {
              background: var(--blue-tint-dark);
            }
          }
        }
      }

      button.search {
        width: 100%;
        height: 100%;
      }
    }

    button.close {
      --size: 30px;
      width: var(--size);
      height: var(--size);
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;

      .icon {
        width: calc(var(--size) / 1.6);
        height: calc(var(--size) / 1.6);
        svg {
          fill: #fb3958;
        }
      }
    }

    &.hide {
      transform: translateY(-100%);
    }
  }

  @include respond(max550) {
    position: sticky;
    background: var(--body-background);
    z-index: 30;
    top: 0;
    padding: 0 1rem;
  }
}
